@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.gradient {
  background-image: linear-gradient(to top, #9b4edf, #f378dc);
}

.btn {
  border-radius: 12.5rem;
  background: linear-gradient(180deg, #f378dc 0%, #9b4edf 100%);
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-opacity: 1;
  padding: 1rem 2rem;
  color: white;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-opacity: 0.8;
}

.link__arrow {
  text-decoration: none;
  color: #444242;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  position: absolute;
}

.heart {
  width: 22px;
  height: 22px;
  color: gray;
}

.btn--command {
  border-radius: 200px;
  background: linear-gradient(180deg, #f378dc 0%, #9b4edf 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-opacity: 1;
  padding: 0 20px;
  color: white;
  height: 50px;
  width: 40%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.btn--command:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-opacity: 0.8;
}
@media (min-width: 60rem) {
  .btn--command {
    width: 15rem;
  }
}

.btn__provence {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-opacity: 1;
  color: black;
  height: 95px;
  margin-top: 20px;
  padding-top: 0.1%;
  padding-left: 3%;
}

.loader {
  position: fixed;
  z-index: 20;
  background: transparent;
  margin: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: chargeur 3s linear;
  -webkit-animation: chargeur 3s linear;
  visibility: hidden;
}
.loader__border {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border-top-color: #9b4edf;
  border-bottom-color: #f378dc;
  border: 16px solid #fafafa;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: chargeur 3s linear;
  -webkit-animation: chargeur 3s linear;
  z-index: 10;
  visibility: hidden;
}

.footer {
  background-color: #363536;
  width: 100%;
  height: 12.5rem;
  position: relative;
}
.footer__restaurants {
  margin-top: 3.1rem;
}
.footer__bloc {
  margin: 0;
  padding: 0 1.9rem;
  width: auto;
  max-width: 1200px;
}
.footer__bloc__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.25rem;
  padding: 1rem 0;
}
.footer__bloc__logo a {
  text-decoration: none;
  color: white;
}
.footer__bloc__links {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: auto;
}
.footer__bloc__link {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 1.9rem;
  cursor: pointer;
}
.footer__bloc__link:hover {
  text-decoration: underline;
}
.footer__bloc__link__title {
  font-size: 0.6rem;
}
.footer__bloc__link i {
  margin-right: 0.5rem;
}
.footer__bloc__link a {
  color: white;
  text-decoration: none;
}

.section-restaurants {
  background-color: #fafafa;
  height: 1250px;
  padding: 1.7rem;
}
@media (min-width: 1024px) {
  .section-restaurants {
    height: auto;
    transform: translateY(-10rem);
    -webkit-transform: translateY(-10rem);
  }
}

.bloc-restaurants {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  -webkit-column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 60rem) {
  .bloc-restaurants {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bloc-restaurant {
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3);
  display: block;
}
.bloc-restaurant__img {
  width: 22rem;
  height: 11.25rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
}
@media (min-width: 25rem) {
  .bloc-restaurant__img {
    width: 100%;
    object-fit: initial;
  }
}
.bloc-restaurant__info {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 1rem;
  position: relative;
}
.bloc-restaurant__text {
  margin-top: 0;
}

.title-restaurant {
  margin-left: 1.6rem;
  padding-top: 1.25rem;
}
@media (min-width: 25rem) {
  .title-restaurant {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
  }
}

.heart {
  right: 0.5rem;
  top: 0.5rem;
  width: 1.9rem;
  height: auto;
  position: absolute;
}
.heart--empty {
  z-index: 1;
  stroke: black;
  stroke-width: 1.25rem;
}
.heart:hover {
  cursor: pointer;
}
.heart:hover .heart--full {
  opacity: 1;
  -webkit-opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.heart--full {
  z-index: 2;
  fill: url(#gradient);
  stroke: none;
  opacity: 0;
  -webkit-opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.decoration-link {
  text-decoration: none;
  color: black;
}

.decoration-none {
  text-decoration: none;
  color: white;
}

.main__restaurants {
  position: relative;
}

.img-restaurant {
  width: 25rem;
  height: 15.6rem;
}
@media (min-width: 25rem) {
  .img-restaurant {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
}

.card {
  background-color: #fafafa;
  border-radius: 1.9rem 1.9rem 0 0;
  transform: translateY(-3.4rem);
  -webkit-transform: translateY(-3.4rem);
}
.card__title {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 1.9rem 0 1.25rem;
}

.menus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 1rem;
}
@media (min-width: 60rem) {
  .menus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    -webkit-column-gap: 1rem;
  }
}
.menus__line {
  border-bottom: solid 0.1rem #99E2D0;
  width: 2.2rem;
  margin-bottom: 1rem;
}
.menus--category {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-opacity: 1;
  color: black;
  overflow: hidden;
  margin-bottom: 1rem;
}
.menus--category__btn {
  display: flex;
  overflow: hidden;
  width: 23rem;
}
@media (min-width: 37.5rem) {
  .menus--category__btn {
    width: auto;
  }
}
.menus--category__btn__check {
  background-color: #99E2D0;
  padding: 0;
  margin-right: -4rem;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: grid;
  place-items: center;
}
.menus--category__btn__check i {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
  color: #99E2D0;
}
.menus--category__btn__description {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus--category__btn__description h4,
.menus--category__btn__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus--category__btn__price {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.menus--category__btn:hover .menus--category__btn__check {
  cursor: pointer;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  margin-right: 0;
}
.menus--category__btn:hover i {
  animation: check-menu 0.5s ease-in-out;
  -webkit-animation: check-menu 0.5s ease-in-out;
}

.entrees {
  -webkit-animation: menuappear 1s;
  animation: menuappear 1s;
  display: block;
}

.plats {
  animation: menuappear 2s;
  display: block;
  -webkit-animation: menuappear 2s;
}

.desserts {
  animation: menuappear 3s;
  display: block;
  -webkit-animation: menuappear 3s;
}

.home {
  background-color: #fafafa;
  height: 15rem;
}
.home__elements {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  flex-direction: column;
  padding: 0.6rem 3.75rem 0 3.75rem;
}
.home__title {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}
.home__text {
  text-align: center;
  color: #7b7b7b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 60rem) {
  .home {
    height: 11rem;
  }
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.1rem;
}

.h2--restaurant {
  font-family: "Shrikhand", sans-serif;
}

.heart--restaurant {
  right: 3.1rem;
  top: 0.6rem;
  width: 1.9rem;
  height: auto;
  position: absolute;
}
.heart--restaurant--empty {
  z-index: 1;
  stroke: black;
  stroke-width: 1.25rem;
}
.heart--restaurant:hover {
  cursor: pointer;
}
.heart--restaurant:hover .heart--full {
  opacity: 1;
  transform: scale(1.1);
}
.heart--restaurant--full {
  z-index: 2;
  fill: url(#gradient);
  stroke: none;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}

.official {
  margin-left: 1.25rem;
  margin-top: 3.1rem;
  height: 25rem;
  width: auto;
}
.official__button {
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-opacity: 1;
  background-color: #f3f3f3;
  margin: 1.5rem 1.8rem 0 0.6rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  padding: 1.5rem 0;
}
.official__button:hover {
  cursor: pointer;
  background-color: #e4d5f6;
}
.official__button:hover i {
  color: #9356DC;
}
@media (min-width: 60rem) {
  .official__button {
    flex: 1;
  }
}
.official__number {
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  background-color: #9356DC;
  margin-left: -0.9rem;
  color: #f3f3f3;
  align-items: center;
  justify-content: center;
  display: flex;
}
.official__icon {
  margin-left: 1.25rem;
  color: #7b7b7b;
}
.official__text {
  margin-left: 1.9rem;
  font-weight: bold;
}
@media (min-width: 60rem) {
  .official__align {
    display: flex;
  }
}

.container {
  margin: auto;
}
@media (min-width: 60) {
  .container {
    height: auto;
  }
}

.header__logo {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.header__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.header__restaurants__logo {
  font-size: 29px;
  font-family: "Shrikhand", sans-serif;
}

@keyframes chargeur {
  0% {
    visibility: visible;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) scale(1);
    border-top-color: #fafafa;
    border-bottom-color: #fafafa;
  }
  25% {
    border-top-color: #9b4edf;
    border-bottom-color: #f378dc;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    -webkit-transform: rotate(360deg) scale(1.15);
  }
  75% {
    border-top-color: #9b4edf;
    border-bottom-color: #f378dc;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
    transform: rotate(720deg) scale(1);
    border-top-color: #fafafa;
    border-bottom-color: #fafafa;
    visibility: invisible;
  }
}
@keyframes appear {
  0% {
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  25% {
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  50% {
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  75% {
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-opacity: 0.5;
    opacity: 1;
  }
}
@keyframes menuappear {
  0% {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    opacity: 0;
    -webkit-opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    -webkit-opacity: 1;
  }
}
@keyframes check-menu {
  0% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 4.5rem;
}

.delay {
  animation: appear 3s;
  -webkit-animation: appear 3s;
}

h3, h4, p {
  margin-bottom: 0;
  margin-top: 0;
}

.bloc-position {
  margin-top: -1.5rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  height: 2.8rem;
  color: #383838;
}
.bloc-position__city {
  margin-left: 0.9rem;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
