@mixin flexbox--center {
    display: flex;
    justify-content: center;
    align-items: center;
} 
@mixin button {
    border-radius: 12.5rem;
    background: $gradient;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.3);
    opacity: 1;
    padding: 1rem 2rem;
    color: white;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}
@mixin official-number {
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    opacity: 1;    
    background-color: $background-color-position;
    margin: 1.5rem 1.8rem 0 0.6rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0;
    &:hover{
        cursor: pointer;
        background-color: lighten($colorprimary, $amount: 30);
        i {
            color: $colorprimary;
        }
    }
}
@mixin gradient {
    background-image: linear-gradient(
        to top,
        rgba(155, 78, 223, 1),
        rgba(243, 120, 220, 1)
    );
}

