$colorprimary:#9356DC;
$colorsecondary:#ff79DA;
$colortertiary:#99E2D0;

$background-color-position:#f3f3f3;
$background-color-bloc:#fafafa;

$gradient: linear-gradient(
    180deg,
    rgba(243, 120, 220, 1) 0%,
    rgba(155, 78, 223, 1) 100%
);