@keyframes chargeur{
    0%{
      visibility:visible;
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg) scale(1);
      border-top-color:#fafafa;
      border-bottom-color:#fafafa;
    }
    25%{
      border-top-color:rgba(155, 78, 223, 1) ;
      border-bottom-color:rgba(243, 120, 220, 1);
    }
    50%{
      transform:rotate(360deg) scale(1.15);
      -webkit-transform: rotate(360deg) scale(1.15);
    }
    75%{
      border-top-color:rgba(155, 78, 223, 1) ;
      border-bottom-color:rgba(243, 120, 220, 1);
    }
    
    100%{
      -webkit-transform: rotate(720deg) scale(1);
      transform:rotate(720deg) scale(1);
      border-top-color:#fafafa;
      border-bottom-color:#fafafa;
      visibility:invisible;
    }
}

@keyframes appear{
    0%{
      -webkit-opacity:0.5;  
      opacity: 0.5;
    }
    25%{
      -webkit-opacity:0.5;   
      opacity: 0.5;
    }
    50%{
      -webkit-opacity:0.5; 
      opacity: 0.5;
    }
    75%{
      -webkit-opacity:0.5;   
      opacity: 0.5;
    }
    100%{
      -webkit-opacity:0.5;   
      opacity: 1;
    }

}
@keyframes menuappear{
    0% {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        opacity: 0;
        -webkit-opacity:0; 
      }
      100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
        -webkit-opacity:1; 
      }
}
@keyframes check-menu{
  0%{ 
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
  }
  100%{
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
}