.btn{
    @include button;
}
.link__arrow{
    text-decoration: none; 
    color: rgb(68, 66, 66);
    left: 2rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    position: absolute;

}
.heart {
    width: 1.4rem;
    height: 1.4rem;
    color: gray;
}


.btn--command {
    border-radius: 12.5rem;
    background: linear-gradient(180deg, #f378dc 0%, #9b4edf 100%);
    box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-opacity: 1;
    padding: 0 1.25rem;
    color: white;
    height: 3rem;
    width: 40%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
        -webkit-opacity: 0.8;
    }
    @media (min-width:64rem){
        width: 15rem;
    }
}


